<mat-card>
    <mat-card-title>
        <ng-container i18n>Trait methodologies (ObservationVariable)</ng-container>  <span style='margin-left:3px' class="key">{{name}}</span>
        <span fxFlex></span>
        <button mat-raised-button color='accent'
                *ngIf='userCanEdit && !createMode'
                [matMenuTriggerFor]="ActionMenu">
            <ng-container i18n>Actions</ng-container>
        </button>
    </mat-card-title>
    <mat-card-content>
        <kusunoki2-observation-variable #variable
            [name]="name"
            [editMode]="editMode"
            [createMode]="createMode"
            (variableCreated)="variableCreated($event)"
            (variableDeleted)="variableDeleted()" >
        </kusunoki2-observation-variable>
    </mat-card-content>
    <mat-card-actions *ngIf='editMode || createMode'>
        <button *ngIf='editMode' mat-raised-button color='primary' (click)="cancelChange()" i18n>Cancel</button>
        <button *ngIf='(editMode && !createMode) && userCanEdit' [disabled]='!variable.allInputAreValid' mat-raised-button color='accent' (click)="variable.updateVariable()" i18n>Update</button>
        <button *ngIf='createMode && editMode' [disabled]='!variable.allInputAreValid' mat-raised-button color='accent' (click)="variable.createVariable()" i18n>Create</button>
    </mat-card-actions>

</mat-card>
<mat-menu #ActionMenu="matMenu">
    <button *ngIf='!editMode && userCanEdit' mat-menu-item (click)="editMode=true"><mat-icon color='accent'> edit</mat-icon><ng-container i18n>Edit</ng-container></button>
    <!-- <button *ngIf='!editMode && userCanEdit' mat-menu-item (click)="tooglePublic()">
        <mat-icon *ngIf='!study.metadata.is_public'>public</mat-icon>
        <mat-icon *ngIf='study.metadata.is_public' color='warn'>public</mat-icon>
        Make <span *ngIf='!study.metadata.is_public'>Public</span><span *ngIf='study.metadata.is_public'>Private</span>
    </button> -->
    <button *ngIf='!editMode && userCanEdit' mat-menu-item (click)="variable.deleteVariable()">
        <mat-icon color='warn'>delete</mat-icon>
        <ng-container i18n>Delete</ng-container>
    </button>
</mat-menu>