<table mat-table [dataSource]='dataSource' matSort class='datatable mat-elevation-z2'>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let observation_variable">
            <a [routerLink]="['/', appUrls.phenotypeSubDir,
                                    appUrls.phenotype.observation_variables,
                                    observation_variable.data.name]">
                    {{observation_variable.data.name}}
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let observation_variable"> {{observation_variable.data.description}}</td>
    </ng-container>

    <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Measurament method</th>
        <td mat-cell *matCellDef="let observation_variable">{{observation_variable.data.method}}</td>
    </ng-container>

    <ng-container matColumnDef="trait">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trait</th>
        <td mat-cell *matCellDef="let observation_variable">
            <a [routerLink]="['/', appUrls.phenotypeSubDir,
                appUrls.phenotype.traits,
                observation_variable.data.trait]">
                {{observation_variable.data.trait}}
                </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="scale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Scale</th>
        <td mat-cell *matCellDef="let observation_variable">
            <a [routerLink]="['/', appUrls.phenotypeSubDir,
                appUrls.phenotype.scales,
                observation_variable.data.scale]">
                {{observation_variable.data.scale}}
                </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

</table>
<mat-paginator  #paginator
    [length]="dataSource.totalCount"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[1, 2, 3, 10, 25, 50, 100]">
</mat-paginator>
<!-- <div fxLayout='row' fxLayoutAlign="start center" style='margin-top:3px;'>
    <button mat-button (click)="downloadCsv()">Download in CSV </button>
    <mat-spinner style='margin-left: 3px;' diameter='30' *ngIf='csvDownloading'></mat-spinner>
    <span fxFlex></span>

</div> -->
