<mat-card >
    <mat-card-title>Upload Observations</mat-card-title>
    <mat-card-content *ngIf='!uploadTried && !uploadSuccessful' >
        <div fxLayout='column' fxLayoutGap="10px">
            <div fxLayout='row'>
                <mat-form-field>
                    <mat-label>Choose a file to upload</mat-label>
                    <input matInput type="text" [(ngModel)]='filename' disabled>
                </mat-form-field>
                <input hidden type='file' id="file" #file (change)="onFileAdded()">
                <button mat-icon-button color='primary' (click)="file.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>

            <mat-slide-toggle
                [(ngModel)]="traitsInColumn">
                Traits in columns
            </mat-slide-toggle>
            <button [disabled]="!uploadedFile"
                mat-raised-button (click)="OnSubmit()"
                color='accent'
                style='width:15em'>Add</button>
        </div>
    </mat-card-content>

    <mat-spinner *ngIf="processing"></mat-spinner>

    <mat-card-content *ngIf='uploadTried && uploadSuccessful === false'>
        <p>Something went wrong</p>
        <mat-list *ngIf="errors">
            <mat-list-item *ngFor='let error of errors.detail'>
                <mat-icon>clear</mat-icon>{{error}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>