<mat-card *ngIf='accession'>
    <mat-card-title>Accession <span class='code' fxflex> {{accession.data.instituteCode}}:{{accession.data.germplasmNumber}}</span></mat-card-title>
    <mat-card-content>
        <kusunoki2-inline-edit
            [label]="'Germplasm Number'"
            [value]="accession.data.germplasmNumber"
            [config]="{is_required: true,
                       is_editable: true,
                       name: 'germplasmNumber3'}"
            [editMode]="editMode"
            (validationStateEvent)="checkFormValid($event)">
            <span class='value'>{{accession.data.germplasmNumber}}</span>
        </kusunoki2-inline-edit>

        <kusunoki2-inline-auto-institute
            [label]="'Institute Code'"
            [value]="accession.data.instituteCode"
            [config]="{is_required: true,
                       is_editable: true,
                       name: 'instituteCode'}"
            [editMode]="editMode"
            (validationStateEvent)="checkFormValid($event)">
        </kusunoki2-inline-auto-institute>

        <kusunoki2-inline-edit
            [label]="'Is Available'"
            [value]="accession.data.is_available"
            [editMode]="editMode"
            [config]="{name: 'isAvailable',
                       is_editable: true,
                       widget: {type: 'switch',
                                conf: {'true': 'Is available',
                                       'false': 'Is Not Available'}}}"
            (validationStateEvent)="checkFormValid($event)">
        </kusunoki2-inline-edit>


        <kusunoki2-inline-edit-select
            [label]="'Conservation Status'"
            [value]="accession.data.conservation_status"
            [editMode]="editMode"
            [choices]="conservation_statuses"
            [config]="{name: 'conservationStatus',
                       is_editable: true}"
            (validationStateEvent)="checkFormValid($event)">
            <span class='value'>{{accession.data.conservation_status}}</span>
        </kusunoki2-inline-edit-select>

        <kusunoki2-inline-edit
            [label]="'Collection Date'"
            [value]="accession.data.passports[0].collectionDate"
            [editMode]="editMode"
            [config]="{name: 'collectionDate',
                       is_editable: true,
                       widget: {type: 'datePicker'}}"
            (validationStateEvent)="checkFormValid($event)">
        </kusunoki2-inline-edit>



    <button *ngIf='!editMode' mat-raised-button color='accent' (click)="editMode=true">Edit</button>
    <button *ngIf='editMode' mat-raised-button color='primary' (click)="resetForm()">Cancel</button>
    <button *ngIf='editMode' [disabled]='!allInputAreValid' mat-raised-button color='primary' (click)="updateAccession()">Update</button>
    </mat-card-content>

</mat-card>

{{accession|json}}