<mat-card style='margin:8px;'>
    <mat-card-title color='accent' i18n>AccessionSet Search</mat-card-title>
    <mat-card-content>
        <form #searchForm="ngForm" ngSubmit="doSumbit()">
            <div fxLayout='row' fxLayoutGap="5px" fxLayoutAlign="start center">
                <mat-form-field style='width:100%;'>
                    <mat-label i18n="@@accessionsetsearchform">Number</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.number_contains"
                            (ngModelChange) = "suggestedNumbers = filterNumber(searchParams.number_contains)"
                            [matAutocomplete]="number" name="number_contains">
                    <mat-autocomplete #number="matAutocomplete" >
                        <mat-option *ngFor="let number of suggestedNumbers|async " [value]="number">
                            {{ number }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxLayout='row' fxLayoutGap='5px'>
                <mat-form-field fxFlex>
                    <mat-label i18n>Country</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.country"
                            (ngModelChange) = "suggestedCountries = filterCountry(searchParams.country)"
                            [matAutocomplete]="countryAuto"
                            #countryInput
                            name="country">
                    <mat-autocomplete #countryAuto="matAutocomplete">
                        <mat-option *ngFor="let country of suggestedCountries|async " [value]="country.code">
                            {{ country.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label i18n>Location</mat-label>
                    <mat-hint i18n>State, province, municiality, site...</mat-hint>
                    <input type="text" matInput [(ngModel)]='searchParams.site' name='site'>
                </mat-form-field>
            </div>
            <div fxLayout='row' fxLayoutGap='5px'>
                <mat-form-field fxFlex >
                    <mat-label i18n>Taxon</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.taxon_contains"
                            (ngModelChange) = "suggestedTaxa = filterTaxa(searchParams.taxon_contains)"
                            [matAutocomplete]="taxaAuto"
                            name='taxon_contains'
                            #taxaInput>
                    <mat-autocomplete #taxaAuto="matAutocomplete">
                        <mat-option *ngFor="let taxon of suggestedTaxa |async " [value]="taxon.name">
                            {{ taxon.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field fxFlex >
                    <mat-label i18n>Biological status</mat-label>
                    <mat-select [(ngModel)]="searchParams.biological_status"
                                name="biological_status">
                        <mat-option value='null'></mat-option>
                        <mat-option *ngFor="let bio_status of biologicalStatus"
                            [value]="bio_status.code">
                            ({{bio_status.code}}) {{bio_status.name|translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-checkbox style='margin-right: 10px;' [(ngModel)]="searchParams.seed_available" name="seed_available">Only with
                seeds available to request</mat-checkbox>

            <mat-checkbox [(ngModel)]="searchParams.in_nuclear_collection" name="in_nuclear_collection">Only accessions in nuclear
                collection
            </mat-checkbox>

            <div fxLayout='row' fxLayoutGap='5px' *ngIf="(userToken|async)?.is_staff">
                <mat-form-field fxFlex>
                    <mat-label i18n>Filter by data visivility</mat-label>
                    <mat-select [(value)]=searchParams.is_public>
                        <mat-option value="" i18n>No filter</mat-option>
                        <mat-option value="true" i18n>Only public data</mat-option>
                        <mat-option value="false" i18n>Only private data</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <button mat-raised-button color='accent' type="submit" (click)="doSubmit()" i18n>Search</button>
            <!-- <button style="margin-left: 10px" mat-raised-button color='accent' type="button" (click)="searchParams = {}" i18n>Clear</button> -->
        </form>
        <!-- <pre>{{searchParams | json}}</pre> -->
    </mat-card-content>
</mat-card>



