<div *ngIf='observationVariable'>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="start center">
            <kusunoki2-inline-edit fxFlex
                [label]="'Name'"
                [value]="observationVariable.data.name"
                [config]="config.name"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>
                    <a [routerLink]="['/', appUrls.phenotypeSubDir,
                                        appUrls.phenotype.observation_variables,
                                        observationVariable.data.name]">
                        {{observationVariable.data.name}}
                    </a>
                </span>
            </kusunoki2-inline-edit>
            <kusunoki2-inline-edit fxFlex
                [label]="'Measurament method'"
                [value]="observationVariable.data.method"
                [config]="config.method"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'> {{observationVariable.data.method}}</span>
            </kusunoki2-inline-edit>
        </div>
        <kusunoki2-inline-edit fxFlex
            [label]="'Description'"
            [value]="observationVariable.data.description"
            [config]="config.description"
            [editMode]="editMode"
            (validationStateEvent)="checkFormValid($event)">
            <span class='value'> {{observationVariable.data.description}}</span>
        </kusunoki2-inline-edit>

        <kusunoki2-inline-auto-trait fxFlex
            *ngIf="editMode || createMode"
            (AddNewTraitRequested)="addNewTrait()"
            [label]="'Trait'"
            [value]="observationVariable.data.trait"
            [config]="config.trait"
            [editMode]="editMode"
            [userCanCreate]='userCanEdit'
            (validationStateEvent)="checkFormValid($event)">
            <span class='value'> {{observationVariable.data.trait}}</span>
        </kusunoki2-inline-auto-trait>
        <kusunoki2-inline-auto-scale fxFlex
            (AddNewScaleRequested)="addNewScale()"
            *ngIf="editMode || createMode"
            [label]="'Scale'"
            [value]="observationVariable.data.scale"
            [config]="config.scale"
            [editMode]="editMode"
            [userCanCreate]='userCanEdit'
            (validationStateEvent)="checkFormValid($event)">
            <span class='value'> {{observationVariable.data.scale}}</span>
        </kusunoki2-inline-auto-scale>
    </div>

    <mat-accordion *ngIf="!(editMode || createMode)">
        <mat-expansion-panel>
            <mat-expansion-panel-header>Trait</mat-expansion-panel-header>
            <kusunoki2-trait
                [name]="observationVariable.data.trait"
                [editMode]=false
                [createMode]=false>
            </kusunoki2-trait>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>Scale</mat-expansion-panel-header>
            <kusunoki2-scale
                [name]="observationVariable.data.scale"
                [editMode]=false
                [createMode]=false>
            </kusunoki2-scale>
        </mat-expansion-panel>
    </mat-accordion>
</div>