<form [formGroup]="form" [hidden]='hideForm()'>
    <mat-form-field style='width: 100%;' >
        <mat-placeholder> Scale </mat-placeholder>
        <input matInput type="text" [hidden]="!config.is_editable ||(config.is_editable && !editMode)"
            formControlName="inputControl"
            #input_control [matAutocomplete]="autocomplete"
            [required]='config.is_required && editMode'>

        <div [hidden]='config.is_editable && editMode'>
            <span *ngIf='initialValue'> {{initialValue}}
            </span>
            <span *ngIf='!initialValue'>''</span>

        </div>
        <button *ngIf="config.is_editable && inputControl.value && editMode"
                matSuffix mat-icon-button aria-label="Clear"
                (click)="clearForm()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="inputControl.errors?.required">
            This value is required
        </mat-error>
        <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]='display'>
            <mat-option *ngIf="userCanCreate"
                        (click)='AddNewScaleRequested.emit()'>Add new Scale... or keep typing for search</mat-option>
            <mat-option *ngFor="let scale of suggestions |async "
                        [value]="scale">
                <strong>{{ scale.name}}</strong> <span style='margin-left: 5px'>({{scale.description}})</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>