<h2 mat-dialog-title>Add Scale</h2>
<mat-dialog-content>
    <kusunoki2-scale #scale
        name="undefined"
        createMode="true"
        editMode="true"
        (scaleCreated)=close($event)>
    </kusunoki2-scale>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button mat-dialog-close
    color='primary'
    [disabled]="!scale.allInputAreValid"
    (click)="scale.createScale()">Create
</button>
</mat-dialog-actions>
