<mat-card style='margin:8px;'>
    <mat-card-title color='accent' i18n>Accession Search </mat-card-title>
    <mat-card-content>
        <form #searchForm="ngForm" ngSubmit="doSumbit()">
            <div fxLayout='row' fxLayoutGap="5px" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                    <mat-label i18n>Institute</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.institute_code"
                            (ngModelChange) = "suggestedInstitutes = filterInstitute(searchParams.institute_code)"
                            [matAutocomplete]="instituteAuto"
                            #instituteAuto
                            name="institute">
                    <mat-autocomplete #instituteAuto="matAutocomplete">
                        <mat-option *ngFor="let institute of suggestedInstitutes|async " [value]="institute.instituteCode">
                            {{ institute.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label i18n>Number</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.number_contains"
                            (ngModelChange) = "suggestedAccessions = filterNumber(searchParams.number_contains)"
                            [matAutocomplete]="number" name="number_contains">
                    <mat-autocomplete #number="matAutocomplete" >
                        <mat-option *ngFor="let accession of suggestedAccessions|async " [value]="accession.data.germplasmNumber">
                            {{ accession.data.germplasmNumber }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>
            <div fxLayout='row' fxLayoutGap='5px'>
                <mat-form-field fxFlex>
                    <mat-label i18n>Country</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.country"
                            (ngModelChange) = "suggestedCountries = filterCountry(searchParams.country)"
                            [matAutocomplete]="countryAuto"
                            #countryAuto  name="country">
                    <mat-autocomplete #countryAuto="matAutocomplete">
                        <mat-option *ngFor="let country of suggestedCountries|async " [value]="country.code">
                            {{ country.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label i18n>Location</mat-label>
                    <mat-hint i18n>State, province, municiality, site...</mat-hint>
                    <input type="text" matInput [(ngModel)]='searchParams.site' name='site'>
                </mat-form-field>
            </div>
            <div fxLayout='row' fxLayoutGap='5px'>
                <mat-form-field fxFlex >
                    <mat-label>Taxon</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.taxon_contains"
                            (ngModelChange) = "suggestedTaxa = filterTaxa(searchParams.taxon_contains)"
                            [matAutocomplete]="taxaAuto" name='taxon_contains' #taxaAuto>
                    <mat-autocomplete #taxaAuto="matAutocomplete">
                        <mat-option *ngFor="let taxon of suggestedTaxa |async " [value]="taxon.name">
                            {{ taxon.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field fxFlex >
                    <mat-label i18n>Biological status</mat-label>
                    <mat-select [(ngModel)]="searchParams.biological_status"
                                name="biological_status">
                        <mat-option value='null'></mat-option>
                        <mat-option *ngFor="let bio_status of biologicalStatus"
                            [value]="bio_status.code">
                            ({{bio_status.code}}) {{bio_status.name|translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout='row' fxLayoutGap='5px' *ngIf="(userToken|async)?.is_staff">
                <mat-form-field fxFlex>
                    <mat-label i18n>Filter by data visivility</mat-label>
                    <mat-select [(value)]=searchParams.is_public>
                        <mat-option value="" i18n>No filter</mat-option>
                        <mat-option value="true" i18n>Only public data</mat-option>
                        <mat-option value="false" i18n>Only private data</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <mat-expansion-panel class="mat-elevation-z0" style='margin-bottom: 20px' hideToggle="true" (click)="toogleButton()">
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayout='row' fxLayoutAlign="start center">
                        <mat-icon>{{icon  ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                        <span class='key' i18n>Add characterization criteria</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout='column' style='margin-left:20px'>
                    <mat-form-field fxFlex>
                        <mat-label i18n>Study</mat-label>
                        <input type="text" matInput [(ngModel)]="searchParams.study"
                                (ngModelChange) = "suggestedStudies = filterStudies(searchParams.study)"
                                [matAutocomplete]="studyAuto"
                                #studyAuto  name="study">
                        <mat-autocomplete #studyAuto="matAutocomplete">
                            <mat-option *ngFor="let study of suggestedStudies|async " [value]="study.data.name">
                                {{ study.data.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <h4 i18n>Filter by observation values</h4>
                    <kusunoki2-accession-search-by-observations-form #observation_filters>
                    </kusunoki2-accession-search-by-observations-form>
                </div>
            </mat-expansion-panel>
            <!-- <div fxLayout='column' style='margin-bottom:10px;'>
                <button mat-raised-button color='primary'
                    *ngIf="!showcharaCriteria" style='width: 17em'
                    (click)="showcharaCriteria=true">Add characterization criteria</button>
                <div fxLayout='column' [style.display]="showcharaCriteria?'inherit':'none'" style='margin-left:20px'>
                    <h3>Characterization criteria</h3>
                    <mat-form-field fxFlex>
                        <mat-label>Study</mat-label>
                        <input type="text" matInput [(ngModel)]="searchParams.study"
                                (ngModelChange) = "suggestedStudies = filterStudies(searchParams.study)"
                                [matAutocomplete]="studyAuto"
                                #studyAuto  name="study">
                        <mat-autocomplete #studyAuto="matAutocomplete">
                            <mat-option *ngFor="let study of suggestedStudies|async " [value]="study.data.name">
                                {{ study.data.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <h4>Observations</h4>
                    <kusunoki2-accession-search-by-observations-form #observation_filters>
                    </kusunoki2-accession-search-by-observations-form>
                </div>
            </div> -->
            <button mat-raised-button [disabled]="!observation_filters.allInputAreValid" color='accent' type="submit" (click)="doSubmit()" i18n>Search</button>
            <button style="margin-left: 10px" mat-raised-button color='accent' type="button" (click)="resetForm()" i18n>Clear</button>
        </form>
        <!-- <pre>{{searchParams | json}}</pre> -->
    </mat-card-content>
</mat-card>