<div *ngIf='stats'>
<mat-tab-group>
    <mat-tab *ngFor='let rank of ranksInStats'>
        <ng-template mat-tab-label> {{rank |titlecase}}</ng-template>
        <ng-template matTabContent>
            <div fxLayout='row' fxLayoutGap='8px' fxLayout.xs='column'>
                <mat-card fxFlex='50%'>
                    <table style='width:100%;' matSort mat-table [dataSource]='rankStats[rank]'>
                        <ng-container matColumnDef="taxon_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Taxon </th>
                            <td mat-cell *matCellDef="let item">{{item.taxon_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="num_accessions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. Accessions </th>
                            <td mat-cell *matCellDef="let item">
                                <a mat-button (click)="navigateTo(appUrls.accessions, {taxon: item.taxon_name, rank:rank})">
                                    {{item.num_accessions}}
                                 </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="num_accessionsets">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. AccessionSets </th>
                            <td mat-cell *matCellDef="let item">
                                <a mat-button (click)="navigateTo(appUrls.accessionsets, {taxon: item.taxon_name, rank:rank})">
                                     {{item.num_accessionsets}}
                                    </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="ColumnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: ColumnsToDisplay"></tr>
                    </table>
                    <mat-paginator
                        [length]="rankStats[rank].data.length"
                        [pageIndex]="0"
                        [pageSize]="10"
                        [pageSizeOptions]="[10, 25, 50, 100]">
                    </mat-paginator>
                </mat-card>
                <mat-card fxFlex>
                    <kusunoki2-google-piechart
                        [chartData]='rankStatsBar[rank]["accession"]'
                        [div_id]='rank +"_div" + "_accession"'
                        [config]="{title: 'Accession Pie'}">
                    </kusunoki2-google-piechart>
                    <kusunoki2-google-piechart
                        [chartData]='rankStatsBar[rank]["accessionset"]'
                        [div_id]='rank +"_div" + "_accessionset"'
                        [config]="{title: 'Accessionset Pie'}">
                    </kusunoki2-google-piechart>
                </mat-card>

            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
</div>
