<mat-card style='margin:8px;'>
    <mat-card-title color='accent'>
        <ng-container i18n>Observation Search</ng-container>
        <span fxFlex></span>
        <a mat-button color='accent' *ngIf='appConfig.useAccessionset'
            href='https://docs.google.com/spreadsheets/d/1cpLoC2PJexHiAn_04tuW28RzezHHtx_mQkxwSgAfi98/edit?usp=sharing'
            target='_blank'>
            <ng-container i18n>Traits and their translations</ng-container>
            <mat-icon>help</mat-icon>
        </a>
    </mat-card-title>
    <mat-card-content>
        <form #searchForm="ngForm" ngSubmit="doSumbit()">
            <div fxLayout='column' fxLayoutGap="5px" fxLayoutAlign="start start"
            style='width: 100%'>

                <kusunoki2-study-multi-autocomplete
                    #studiesForm
                    style='width: 100%'>
                </kusunoki2-study-multi-autocomplete>
                <kusunoki2-observation-variable-multi-autocomplete
                    #observationVariableForm
                    style='width: 100%'>

                </kusunoki2-observation-variable-multi-autocomplete>
                <mat-form-field style='width: 100%'>
                    <mat-label i18n>Scientific name</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.taxon"
                        (focus)="suggestedTaxa = filterTaxa(searchParams.taxon)"
                        (ngModelChange)="suggestedTaxa = filterTaxa(searchParams.taxon)" [matAutocomplete]="taxaAuto" name='taxon'
                        #taxaInput>
                    <mat-autocomplete #taxaAuto="matAutocomplete">
                        <mat-option *ngFor="let taxon of suggestedTaxa |async " [value]="taxon.name">
                            {{ taxon.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field  style='width: 100%'>
                    <mat-label i18n="@@accessionsearchform">Accession number, Collecting number or Accession name</mat-label>
                    <input type="text" matInput [(ngModel)]="searchParams.accession_number_contains"
                        (ngModelChange)="suggestedAccessions = filterNumber(searchParams.accession_number_contains)"
                        (focus)="suggestedAccessions = filterNumber(searchParams.accession_number_contains)" [matAutocomplete]="number"
                        name="number_contains">
                    <mat-autocomplete #number="matAutocomplete">
                        <mat-option *ngFor="let accession of suggestedAccessions|async " [value]="accession.data.germplasmNumber">
                            {{ accession.data.germplasmNumber }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <button mat-raised-button color='accent' type="submit" (click)="doSubmit()" i18n>Search</button>
            <!-- <button style="margin-left: 10px" mat-raised-button color='accent' type="button" (click)="formReset()" i18n>Clear</button> -->
        </form>
    </mat-card-content>
</mat-card>