<div *ngIf='editMode'>
    <div fxLayoutAlign="start center">
        <span fxFlex='60pt'class='key'>Passport Id</span>
        <kusunoki2-inline-auto-institute fxFlex style="width:'100%"
                    [label]="'Institute code'"
                    [value]="passport.germplasmNumber.instituteCode"
                    [config]="childrenConfig.instituteCode"
                    [editMode]="editMode"
                    (validationStateEvent)="checkFormValid($event)">
        </kusunoki2-inline-auto-institute>
        <kusunoki2-inline-edit fxFlex
                [label]="'Germplasm number'"
                [value]="passport.germplasmNumber.germplasmNumber"
                [config]="childrenConfig.germplasmNumber"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{passport.germplasmNumber.germplasmNumber}}</span>
            </kusunoki2-inline-edit>
    </div>
</div>
<div fxLayout='row' fxLayout.xs='column' fxLayoutGap="20px" >
    <div fxLayout='column' fxLayoutGap="10px" fxFlex='50%'>
        <div *ngIf='editMode || passport.taxonomy.hasData || passport.commonCropName'>
            <h2>Taxonomy</h2>
            <div fxLayout='column'>
                <kusunoki2-inline-edit fxFlex='grow'
                    *ngIf="editMode || passport.commonCropName"
                    [label]="'Crop name'"
                    [editMode]="editMode"
                    [config]="childrenConfig['commonCropName']"
                    [value]="passport.commonCropName"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{passport.commonCropName}}</span>
                </kusunoki2-inline-edit>
                <div *ngFor="let rank of ranks">
                    <div *ngIf="editMode || (passport.taxonomy[rank])?.name"
                            fxLayout="row"
                            fxLayoutAlign='start center'
                            fxLayoutGap='10px'
                            fxLayout.xs='column'
                            fxLayoutGap.xs='0'
                            fxLayoutAlign.xs='start start'
                            fxFlex>
                        <kusunoki2-inline-edit fxFlex
                            [label]="rank"
                            [editMode]="editMode"
                            [config]="childrenConfig[rank + '_name']"
                            [value]="passport.taxonomy[rank]['name']"
                            (validationStateEvent)="checkFormValid($event)">
                            <span class='value'>{{passport.taxonomy[rank]['name']}}</span>
                        </kusunoki2-inline-edit>
                        <kusunoki2-inline-edit fxFlex
                            *ngIf="editMode||passport.taxonomy[rank].author"
                            [label]="'Author'"
                            [editMode]="editMode"
                            [config]="childrenConfig[rank +'_author']"
                            [value]="passport.taxonomy[rank]['author']"
                            (validationStateEvent)="checkFormValid($event)">
                            <span class='value'>{{passport.taxonomy[rank]['author']}}</span>
                        </kusunoki2-inline-edit>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='editMode || hasAdinitionalData()' >
            <h2>Additional Descriptors</h2>
            <div fxLayout='column' fxLayoutGap="5px">
                <kusunoki2-inline-edit-select fxFlex='grow'
                    [label]="'Biological status'"
                    *ngIf="editMode || passport.biologicalStatus"
                    [editMode]="editMode"
                    [config]="childrenConfig['biologicalStatus']"
                    [choices]="biological_statuses"
                    [value]="passport.biologicalStatus"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='label'>Biological Status:</span>
                </kusunoki2-inline-edit-select>
                <kusunoki2-inline-edit fxFlex='grow'
                    *ngIf="editMode || passport.acquisitionDate"
                    [label]="'Acquisition date'"
                    [editMode]="editMode"
                    [config]="childrenConfig['acquisition_date']"
                    [value]="passport.acquisitionDate"
                    (validationStateEvent)="checkFormValid($event)">
                    <!-- <span class='value'>{{input_form_data['acquisition_date']}}</span> -->
                </kusunoki2-inline-edit>
                <kusunoki2-inline-edit-select fxFlex='grow'
                    [label]="'MLS status'"
                    *ngIf="editMode || passport.mlsStatus"
                    [editMode]="editMode"
                    [config]="childrenConfig['mlsStatus']"
                    [choices]="[{'code':'Y', name: 'Y'}, {code: 'N', name: 'N'}]"
                    [value]="passport.mlsStatus"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='label'>MLS Status:</span>
                </kusunoki2-inline-edit-select>
                <kusunoki2-inline-edit fxFlex='grow'
                    *ngIf="editMode || passport.ancestry"
                    [label]="'Ancestry (Pedigree)'"
                    [editMode]="editMode"
                    [config]="childrenConfig['ancestry']"
                    [value]="passport.ancestry"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{passport.ancestry}}</span>
                </kusunoki2-inline-edit>
                <kusunoki2-inline-edit fxFlex='grow'
                    *ngIf="editMode || passport.remarks?.genebank_management"
                    [label]="'Remarks'"
                    [editMode]="editMode"
                    [config]="childrenConfig['remarks']"
                    [value]="passport.remarks?.genebank_management"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{passport.remarks?.genebank_management}}</span>
                </kusunoki2-inline-edit>
                <kusunoki2-inline-auto-institute fxFlex
                        [label]="'Breeding institute'"
                        [value]="passport.breedingInstitute"
                        [config]="childrenConfig.breedingInstitute"
                        [editMode]="editMode"
                        (validationStateEvent)="checkFormValid($event)">
                </kusunoki2-inline-auto-institute>
            </div>
        </div>
        <div *ngIf='editMode || passport.dataSource.hasData'>
            <h2>Data Source</h2>
            <div fxLayout='row'>
                <kusunoki2-inline-edit
                    [label]="'Data source'"
                    [editMode]="editMode"
                    [config]="childrenConfig['dataSourceCode']"
                    [value]="passport.dataSource.code"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{passport.dataSource.code}}</span>
                </kusunoki2-inline-edit>
                <kusunoki2-inline-edit
                    [label]="'Data source kind'"
                    [editMode]="editMode"
                    [config]="childrenConfig['dataSourceKind']"
                    [value]="passport.dataSource.kind"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{passport.dataSource.kind}}</span>
                </kusunoki2-inline-edit>
                <kusunoki2-inline-edit
                    [label]="'Retrieval date'"
                    [editMode]="editMode"
                    [config]="childrenConfig['dataSourceRetriavelDate']"
                    [value]="passport.dataSource.retrievalDate"
                    (validationStateEvent)="checkFormValid($event)">

                    <span class='value'>{{passport.dataSource.retrievalDate|date: "shortDate"}}</span>
                    <!-- <span *ngIf='!passport.dataSource.retrievalDate' class='value'>''</span> -->
                </kusunoki2-inline-edit>
            </div>
        </div>
        <div *ngIf="editMode || passport.donor.hasData">
            <h2>Donor Data</h2>
            <div fxLayout='row' fxLayoutGap="10px">
                    <kusunoki2-inline-auto-institute fxFlex
                        [label]="'Donor institute'"
                        [value]="passport.donor.instituteCode"
                        [config]="childrenConfig['donorInstitute']"
                        [editMode]="editMode"
                        (validationStateEvent)="checkFormValid($event)">
                    </kusunoki2-inline-auto-institute>
                    <kusunoki2-inline-edit
                        [label]="'Donor number'"
                        [editMode]="editMode"
                        [config]="childrenConfig['donorNumber']"
                        [value]="passport.donor.germplasmNumber"
                        (validationStateEvent)="checkFormValid($event)">
                        <span class='value'>{{passport.donor.germplasmNumber}}</span>
                    </kusunoki2-inline-edit>
            </div>
        </div>
        <div *ngIf="editMode || passport.otherNumbers.length > 0">
                <h2>Other Numbers</h2>
                <kusunoki2-other-numbers
                    [otherNumbers]="passport.otherNumbers"
                    [editMode]="editMode"
                    [createMode]="createMode"
                    (validationStateEvent)="checkFormValid($event)">
                </kusunoki2-other-numbers>
        </div>

    </div>
    <div fxLayout='column' fxLayoutGap="20px" fxFlex='50%'>
        <div *ngIf='editMode || hasCollectionData()'>
            <h2>Collecting Data</h2>
            <div fxLayout='column'>
                <div fxLayout='row' fxLayoutGap="10px">
                    <kusunoki2-inline-auto-institute fxFlex
                        [label]="'Collecting institute'"
                        [value]="passport.collectionNumber.instituteCode"
                        [config]="childrenConfig['collectingInstitute']"
                        [editMode]="editMode"
                        (validationStateEvent)="checkFormValid($event)">
                    </kusunoki2-inline-auto-institute>
                    <kusunoki2-inline-edit
                        [label]="'Collection field number'"
                        [editMode]="editMode"
                        [config]="childrenConfig['collectingFieldNumber']"
                        [value]="passport.collectionNumber.fieldCollectionNumber"
                        (validationStateEvent)="checkFormValid($event)">
                        <span class='value'>{{passport.collectionNumber.fieldCollectionNumber}}</span>
                    </kusunoki2-inline-edit>
                </div>
                <kusunoki2-inline-edit fxFlex='grow'
                    *ngIf="editMode || passport.germplasmName"
                    [label]="'Accession name'"
                    [editMode]="editMode"
                    [config]="childrenConfig['germplasmName']"
                    [value]="passport.germplasmName"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{passport.germplasmName}}</span>
                </kusunoki2-inline-edit>
                <kusunoki2-inline-edit-select fxFlex='grow'
                    *ngIf="editMode || passport.collectionSource"
                    [label]="'Collection source (Habitat):'"
                    [editMode]="editMode"
                    [choices]="collection_sources"
                    [config]="childrenConfig['collectionSource']"
                    [value]="passport.collectionSource"
                    (validationStateEvent)="checkFormValid($event)">
                </kusunoki2-inline-edit-select>
                <kusunoki2-inline-edit
                    [label]="'Collecting date'"
                    [editMode]="editMode"
                    [config]="childrenConfig['collection_date']"
                    [value]="passport.collectionDate"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{passport.collectionDate|momentsMCPD}}</span>
                </kusunoki2-inline-edit>

                <kusunoki2-inline-auto-country fxFlex='grow'
                    *ngIf="editMode || (passport.collectionSite.country)"
                    [editMode]="editMode"
                    [config]="childrenConfig['country']"
                    [value]="passport.collectionSite.country"
                    (validationStateEvent)="checkFormValid($event)">
                </kusunoki2-inline-auto-country>
                <div *ngFor="let component_name of passport.collectionSite|keys"
                    style='width:100%;'>
                    <kusunoki2-inline-edit
                        *ngIf="component_name !== 'country' && (editMode || (passport.collectionSite[component_name]))"
                        fxFlex='grow'
                        [label]="component_name"
                        [editMode]="editMode"
                        [config]="childrenConfig[component_name]"
                        [(value)]="passport.collectionSite[component_name]"
                        (validationStateEvent)="checkFormValid($event)">
                        <span class='value' *ngIf="component_name === 'latitude' || component_name === 'longitude'">
                            {{passport.collectionSite[component_name] | number: '1.1-5'}}
                        </span>
                        <span *ngIf="component_name !== 'latitude' && component_name !== 'longitude'" class='value'>
                            {{passport.collectionSite[component_name]}}
                        </span>
                    </kusunoki2-inline-edit>
                </div>
            </div>
        </div>
    </div>
</div>


