<h2 mat-dialog-title i18n>Add Trait</h2>
<mat-dialog-content>
    <kusunoki2-trait #trait
        name="undefined"
        createMode="true"
        editMode="true"
        (traitCreated)=close($event)>
    </kusunoki2-trait>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close i18n>Cancel</button>
    <button mat-raised-button mat-dialog-close
        color='primary'
        [disabled]='!trait.allInputAreValid'
        (click)="trait.createTrait()" i18n>Create</button>
</mat-dialog-actions>
