<mat-card *ngIf="request">
    <mat-card-title>
        <ng-container i18n>Seed request</ng-container>
        <span fxFlex></span>
        <button mat-raised-button color='accent'
            *ngIf='!editMode && userToken.is_staff'
            (click)="deleteRequest()">
            <ng-container i18n>Delete</ng-container>
        </button>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout='column'>
            <kusunoki2-inline-edit [value]="request.data.request_uid"
                *ngIf='!editMode'
                [label]="'Request Uid'|translate"
                [config]="config.request_uid" [editMode]="false"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{request.data.request_uid}}</span>
            </kusunoki2-inline-edit>
            <div fxLayout='row' fxLayoutGap="5px" fxFlex>
                <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Name'|translate"
                    [value]="request.data.name" [config]="config.name" [editMode]="editMode"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{request.data.name}}</span>
                </kusunoki2-inline-edit>
                <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Email'|translate"
                    [value]="request.data.email" [config]="config.email" [editMode]="editMode"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{request.data.email}}</span>
                </kusunoki2-inline-edit>
            </div>
            <div fxLayout='row' fxLayoutGap="5px" fxFlex>
                <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Type petitioner (Company, Farmer, Research institute, Germplasm Bank, etc)'|translate"
                    [value]="request.data.type" [config]="config.type" [editMode]="editMode"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{request.data.type}}</span>
                </kusunoki2-inline-edit>
                <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Institution'|translate"
                    [value]="request.data.institution" [config]="config.institution" [editMode]="editMode"
                    (validationStateEvent)="checkFormValid($event)">
                    <span class='value'>{{request.data.institution}}</span>
                </kusunoki2-inline-edit>
            </div>
            <mat-card>
                <mat-card-subtitle><span class='key' i18n>Address</span></mat-card-subtitle>
                <mat-card-content>
                    <div fxLayout='column'>
                        <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Address'|translate"
                            [value]="request.data.address" [config]="config.address" [editMode]="editMode"
                            (validationStateEvent)="checkFormValid($event)">
                            <span class='value'>{{request.data.address}}</span>
                        </kusunoki2-inline-edit>
                        <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'City/municipality'|translate"
                            [value]="request.data.city" [config]="config.city" [editMode]="editMode"
                            (validationStateEvent)="checkFormValid($event)">
                            <span class='value'>{{request.data.city}}</span>
                        </kusunoki2-inline-edit>
                        <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Postal code'|translate"
                            [value]="request.data.postal_code" [config]="config.postal_code" [editMode]="editMode"
                            (validationStateEvent)="checkFormValid($event)">
                            <span class='value'>{{request.data.postal_code}}</span>
                        </kusunoki2-inline-edit>
                        <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Province'|translate"
                            [value]="request.data.region" [config]="config.region" [editMode]="editMode"
                            (validationStateEvent)="checkFormValid($event)">
                            <span class='value'>{{request.data.region}}</span>
                        </kusunoki2-inline-edit>
                        <kusunoki2-inline-auto-country fxFlex='grow' [editMode]="editMode" [config]="config.country"
                            [value]="request.data.country" (validationStateEvent)="checkFormValid($event)">
                        </kusunoki2-inline-auto-country>

                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-subtitle><span class='key' i18n>Information about the request</span></mat-card-subtitle>
                <mat-card-content>
                    <div fxLayout='row' fxLayoutGap="5px" fxFlex>
                        <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Aim'|translate"
                            [value]="request.data.aim" [config]="config.aim" [editMode]="editMode"
                            (validationStateEvent)="checkFormValid($event)">
                            <div *ngIf="request.data.aim" class='textareavalue'>
                                <p *ngFor="let paragraph of request.data.aim.split('\n')">{{paragraph}}</p>
                            </div>
                        </kusunoki2-inline-edit>

                        <kusunoki2-inline-edit fxFlex style="width:100%;" [label]="'Comments'|translate"
                            [value]="request.data.comments" [config]="config.comments" [editMode]="editMode"
                            (validationStateEvent)="checkFormValid($event)">
                            <div *ngIf="request.data.comments" class='textareavalue'>
                                <p *ngFor="let paragraph of request.data.comments.split('\n')">{{paragraph}}</p>
                            </div>
                        </kusunoki2-inline-edit>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card >
                <mat-card-subtitle><span class='key' i18n>Requested accessions</span></mat-card-subtitle>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item *ngFor="let accession of requestedAccessions|async">
                            <button *ngIf="editMode" mat-icon-button
                                (click)="shoppingCartService.removeAccessionFromCart(accession)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <a [routerLink]="['/', appUrls.accessions, accession['instituteCode'], accession['germplasmNumber']]">
                                {{accession['instituteCode']}}:{{accession['germplasmNumber']}}
                            </a>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <div *ngIf='editMode && appConfig.reCaptchaKey'
                kusunoki2GoogleReCaptcha2Directive
                [key]="appConfig.reCaptchaKey"
                (validationStateEvent)="checkFormValid($event)"
                style="width: 300px; height:74px;"
                [lang]="currentLanguage">
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="editMode">
        <button mat-raised-button color='accent'
            [disabled]='!allInputAreValid || (requestedAccessions|async)?.length === 0 || requestInProgress'
            (click)=createRequest()>
                <div fxLayout='row' fxLayoutGap='5px' fxLayoutAlign="space-around center" style="height:100%">
                    <span i18n>Submit request</span>
                    <mat-spinner *ngIf="requestInProgress" diameter="30"></mat-spinner>
                </div>
        </button>
        <button
            mat-raised-button color='accent'
            [disabled]="requestInProgress"
            (click)=resetForm() i18n>Reset form</button>
    </mat-card-actions>
</mat-card>
