<mat-card style='margin:8px;' *ngIf='accessionset'>
    <mat-card-title>Accessionset {{accessionset.data.accessionsetNumber}}</mat-card-title>
    <mat-card-content>
        <kusunoki2-accessionset-accession-table
            *ngIf="accessions"
            [accessions]="accessions"
            (accessionSelected)="selectedTabIndex = $event">
        </kusunoki2-accessionset-accession-table >

        <kusunoki2-accession
            *ngIf='accessions && accessions.length === 1'
            [accession]="accessions[0]">
        </kusunoki2-accession>
        <div  *ngIf='accessions && accessions.length > 1'  style='margin:0; padding:0'>
            <mat-tab-group [selectedIndex]="selectedTabIndex">
                <mat-tab *ngFor="let accession of accessions; let i = index">
                    <ng-template mat-tab-label *ngIf='accession'>
                        {{accession.data.instituteCode}}:{{accession.data.germplasmNumber}}
                    </ng-template>
                    <kusunoki2-accession
                        [accession]="accession">
                    </kusunoki2-accession>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>
