<div style='margin-bottom:20px;' *ngIf="accession && accession.data.passports[0].collectionSite.latitude && accession.data.passports[0].collectionSite.longitude">
    <kusunoki2-google-map
        [id]="mapId"
        [latitude]="accession.data.passports[0].collectionSite.latitude"
        [longitude]="accession.data.passports[0].collectionSite.longitude">
    </kusunoki2-google-map>
</div>
<div *ngIf='accession'>
    <mat-card >
        <mat-card-title>
            Accession <span class='key' fxflex style='margin-left:5px;'> {{accession.data.instituteCode}}:{{accession.data.germplasmNumber}}</span>
            <span fxFlex></span>
            <button mat-raised-button color='accent'
                    *ngIf='userCanEdit && !createMode'
                    [matMenuTriggerFor]="accessionActionMenu">
                Actions
            </button>
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="column">
                <div
                    fxLayout="row"
                    fxLayoutGap="2px"
                    fxLayoutAlign="start center"
                    style="width:100%;">
                    <kusunoki2-inline-auto-institute fxFlex
                        [label]="'Institute Code'"
                        [value]="accession.data.instituteCode"
                        [config]="{is_required: true,
                                is_editable: true,
                                name: 'instituteCode'}"
                        [editMode]="editMode"
                        (validationStateEvent)="checkFormValid($event)">
                    </kusunoki2-inline-auto-institute>

                    <kusunoki2-inline-edit fxFlex
                        [label]="'Germplasm Number'"
                        [value]="accession.data.germplasmNumber"
                        [config]="{is_required: true,
                                is_editable: true,
                                name: 'germplasmNumber'}"
                        [editMode]="editMode"
                        (validationStateEvent)="checkFormValid($event)">
                        <span class='value'>
                            <a [routerLink]="['/', appUrls.accessions,
                                                accession.data.instituteCode,
                                                accession.data.germplasmNumber]">
                                {{accession.data.germplasmNumber}}
                            </a>
                        </span>
                    </kusunoki2-inline-edit>

                    <kusunoki2-inline-edit-select fxFlex
                        [label]="'Conservation Status'"
                        [value]="accession.data.conservation_status"
                        [editMode]="editMode"
                        [choices]="conservation_statuses"
                        [config]="{name: 'conservationStatus',
                                is_editable: true,
                                showCode: false}"
                        (validationStateEvent)="checkFormValid($event)">
                        <span class='value'>{{accession.data.conservation_status}}</span>
                    </kusunoki2-inline-edit-select>
                    <kusunoki2-inline-edit fxFlex
                        [label]="'Availability'"
                        [value]="accession.data.is_available"
                        [editMode]="editMode"
                        [config]="{name: 'isAvailable',
                                is_editable: true,
                                widget: {type: 'switch',
                                            conf: {'true': 'Is available',
                                                'false': 'Is Not Available'}}}"
                        (validationStateEvent)="checkFormValid($event)">
                    </kusunoki2-inline-edit>
                </div>
            </div>
            <div *ngIf='accessionsets'>
                <span style='margin-right: 5px;'>This accession belongs to this accesisionSets:</span>
                <span *ngFor="let item of accessionsets; let $last=last">
                    <a [routerLink]="['/', appUrls.accessionsets, item]">{{item}}</a>
                    <span *ngIf="!$last; LastElem" class="list-format">,</span>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-accordion>
        <mat-expansion-panel [expanded]="editMode">
        <mat-expansion-panel-header><h3 class='key'>Passport Data</h3></mat-expansion-panel-header>
            <kusunoki2-passport
                [passport]="accession.data.passports[0]"
                [editMode]='editMode'
                [componentId]="'passport'"
                (validationStateEvent)=checkFormValid($event)>
            </kusunoki2-passport>
            <mat-action-row *ngIf='editMode || createMode'>
                <button *ngIf='editMode' mat-raised-button color='primary' (click)="cancelChange()">Cancel</button>
                <button *ngIf='(editMode && !createMode) && userCanEdit' [disabled]='!allInputAreValid' mat-raised-button color='accent' (click)="updateAccession()">Update</button>
                <button *ngIf='createMode && editMode' [disabled]='!allInputAreValid' mat-raised-button color='accent' (click)="createAccession()">Create</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<mat-menu #accessionActionMenu="matMenu">
        <button *ngIf='!editMode && userCanEdit' mat-menu-item (click)="editMode=true"><mat-icon color='accent'> edit</mat-icon>Edit</button>
        <button *ngIf='!editMode && userCanEdit' mat-menu-item (click)="tooglePublic()">
            <mat-icon *ngIf='!accession.metadata.is_public'>public</mat-icon>
            <mat-icon *ngIf='accession.metadata.is_public' color='warn'>public</mat-icon>
            Make <span *ngIf='!accession.metadata.is_public'>Public</span><span *ngIf='accession.metadata.is_public'>Private</span>
        </button>
        <button *ngIf='!editMode && userCanEdit' mat-menu-item (click)="deleteAccession()"><mat-icon color='warn'>delete</mat-icon>Delete</button>
</mat-menu>