
<div *ngIf='institute'>
    <div fxLayout="column">
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center"
            style="width:100%;">
            <kusunoki2-inline-edit fxFlex='20%'
                [label]="'Institute code'|translate"
                [value]="institute.instituteCode"
                [config]="config.instituteCode"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>
                    <a [routerLink]="['/', appUrls.institutes,
                                      institute.instituteCode]">
                        {{institute.instituteCode}}
                    </a>
                </span>
            </kusunoki2-inline-edit>
            <kusunoki2-inline-edit fxFlex
                [label]="'Institute name'|translate"
                [value]="institute.name"
                [config]="config.name"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{institute.name}}</span>
            </kusunoki2-inline-edit>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center"
            style="width:100%;">
            <kusunoki2-inline-edit
                fxFlex
                *ngIf="editMode || institute.address"
                [label]="'Address'|translate"
                [value]="institute.address"
                [config]="config.address"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{institute.address}}</span>
            </kusunoki2-inline-edit>
            <kusunoki2-inline-edit
                fxFlex
                *ngIf="editMode || institute.city"
                [label]="'City'|translate"
                [value]="institute.city"
                [config]="config.city"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{institute.city}}</span>
            </kusunoki2-inline-edit>
            <kusunoki2-inline-edit
                fxFlex
                *ngIf="editMode || institute.zipcode"
                [label]="'Zipcode'|translate"
                [value]="institute.zipcode"
                [config]="config.zipcode"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{institute.zipcode}}</span>
            </kusunoki2-inline-edit>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center"
            style="width:100%;">
            <kusunoki2-inline-edit fxFlex
                *ngIf="editMode || institute.phone"
                [label]="'Phone'|translate"
                [value]="institute.phone"
                [config]="config.phone"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{institute.phone}}</span>
            </kusunoki2-inline-edit>
            <kusunoki2-inline-edit fxFlex
                *ngIf="editMode || institute.email"
                [label]="'Email'|translate"
                [value]="institute.email"
                [config]="config.email"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{institute.email}}</span>
            </kusunoki2-inline-edit>
            <kusunoki2-inline-edit fxFlex
                *ngIf="editMode || institute.url"
                [label]="'URL'|translate"
                [value]="institute.url"
                [config]="config.url"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>
                    <a href="{{institute.url}}">{{institute.url}}</a>
                </span>
            </kusunoki2-inline-edit>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="2px" fxLayoutAlign="start center"
            style="width:100%;">
            <kusunoki2-inline-edit fxFlex
            *ngIf="editMode || institute.manager"
                [label]="'Manager'|translate"
                [value]="institute.manager"
                [config]="config.manager"
                [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{institute.manager}}</span>
            </kusunoki2-inline-edit>
            <kusunoki2-inline-edit fxFlex *ngIf="editMode || institute.collections" [label]="'Collection'|translate"
                [value]="institute.collections" [config]="config.collections" [editMode]="editMode"
                (validationStateEvent)="checkFormValid($event)">
                <span class='value'>{{institute.collections}}</span>
            </kusunoki2-inline-edit>
        </div>
    </div>
</div>
