<mat-card>
    <mat-card-title>
        <ng-container i18n>Trait methodologies</ng-container>
        <span fxFlex></span>
        <a mat-button
            color='accent'
            *ngIf='appConfig.useAccessionset'
            href='https://docs.google.com/spreadsheets/d/1cpLoC2PJexHiAn_04tuW28RzezHHtx_mQkxwSgAfi98/edit?usp=sharing' target='_blank'
        >
            <ng-container i18n>Traits and their translations</ng-container>
            <mat-icon>help</mat-icon>
        </a>
    </mat-card-title>
    <mat-card-content>
        <kusunoki2-observation-variable-table #table
            [searchParams]="{}"
            (searchParamsChanged)="searchParamsChanged($event)">
        </kusunoki2-observation-variable-table>
    </mat-card-content>
</mat-card>