<mat-card >
    <mat-card-title>Upload Observation Images</mat-card-title>
    <mat-card-content *ngIf='!uploadTried && !uploadSuccessful' >
        <mat-list>
            <mat-list-item> Here you can upload images for the already uploaded Accessions</mat-list-item>
            <mat-list-item> You can not upload twice the same image</mat-list-item>
            <mat-list-item> All images must be correctly identified with accession and study</mat-list-item>
            <mat-list-item> The structure of the uploaded zip file must be:</mat-list-item>
            <mat-list-item> RootFolder -> Accession Folders -> StudyFolders -> Images</mat-list-item>
            <mat-list-item> Accession Folder  format must be: INSTITUTE_CODE:ACCESSION_NUMBER</mat-list-item>
            <mat-list-item> You can upload more than one accession images and more than one study per accession</mat-list-item>
        </mat-list>
        <div fxLayout='column' fxLayoutGap="10px">
            <div fxLayout='row'>
                <mat-form-field>
                    <mat-label>Choose a file to upload</mat-label>
                    <input matInput type="text" [(ngModel)]='filename' disabled>
                </mat-form-field>
                <input hidden type='file' id="file" #file (change)="onFileAdded()">
                <button mat-icon-button color='primary' (click)="file.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>

            <button [disabled]="!uploadedFile"
                mat-raised-button (click)="OnSubmit()"
                color='accent'
                style='width:15em'>Add</button>
        </div>
    </mat-card-content>

    <mat-spinner *ngIf="processing"></mat-spinner>

    <mat-card-content *ngIf='uploadTried && uploadSuccessful === false'>
        <p>Something went wrong</p>
        <button mat-raised-button (click)="rePaintDialog()">Try Again</button>
        <mat-list *ngIf="errors">
            <mat-list-item *ngFor='let error of errors.detail'>
                <mat-icon>clear</mat-icon>{{error}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>