<mat-card *ngIf="!scaleInDatabase">
    <ng-container i18n>Scale {{name }} not found</ng-container>

</mat-card>
<mat-card *ngIf="scaleInDatabase">
    <mat-card-title>
        <ng-container i18n>Scale <span class='key' style='margin-left:5px'> {{name}}</span></ng-container>
        <span fxFlex></span>
        <button mat-raised-button color='accent'
                *ngIf='userCanEdit && !createMode'
                [matMenuTriggerFor]="ActionMenu">
            <ng-container i18n>Actions</ng-container>
        </button>
    </mat-card-title>
    <mat-card-content>
        <kusunoki2-scale #scale
            [name]="name"
            [editMode]="editMode"
            [createMode]="createMode"
            (scaleCreated)="scaleCreated($event)"
            (scaleDeleted)="scaleDeleted($event)"
            (scaleNotFound)="scaleInDatabase = false">
        </kusunoki2-scale>
    </mat-card-content>

    <mat-card-actions *ngIf='editMode || createMode'>
        <button *ngIf='editMode' mat-raised-button color='primary' (click)="cancelChange()" i18n>Cancel</button>
        <button *ngIf='(editMode && !createMode) && userCanEdit' [disabled]='!scale.allInputAreValid' mat-raised-button color='accent' (click)="editMode=false;scale.updateScale()" i18n>Update</button>
        <button *ngIf='createMode && editMode' [disabled]='!scale.allInputAreValid' mat-raised-button color='accent' (click)="scale.createScale()" i18n>Create</button>
    </mat-card-actions>
</mat-card>
<mat-menu #ActionMenu="matMenu">
    <button *ngIf='!editMode && userCanEdit' mat-menu-item (click)="editMode=true"><mat-icon color='accent'> edit</mat-icon><ng-container i18n>Edit</ng-container></button>
    <button *ngIf='!editMode && userCanEdit' mat-menu-item (click)="scale.deleteScale()"><mat-icon color='warn'>delete</mat-icon><ng-container i18n>Delete</ng-container></button>
</mat-menu>