<div *ngIf="appConfig.useShoppingCart">
    <div *ngIf="petition && editMode && !createdPetitions" >
        <kusunoki2-seed-petition
            [editMode]="editMode"
            [petition]="petition"
            (createdPetitions)="createdPetitions=$event">
        </kusunoki2-seed-petition>
    </div>
    <div *ngIf="createdPetitions !== undefined && createdPetitions.length > 0">
        <mat-card>
            <p i18n>You have created {{createdPetitions.length}} seed requests:</p>
            <mat-list>
                <mat-list-item *ngFor='let petition of createdPetitions'> {{petition.data.petition_uid}}</mat-list-item>
            </mat-list>
        </mat-card>
        <mat-tab-group>
            <mat-tab *ngFor='let petition of createdPetitions'>
                <ng-template mat-tab-label>
                    Request {{petition.data.petition_uid}}
                </ng-template>
                <kusunoki2-seed-petition
                    [editMode]="false"
                    [petition]="petition">
                </kusunoki2-seed-petition>
            </mat-tab>
        </mat-tab-group>


    </div>
</div>
<mat-card *ngIf=!appConfig.useShoppingCart>
    <h1 i18n> Can not make seed requests in this site</h1>
</mat-card>