<table mat-table matSort #table [dataSource]='items' class='datatable mat-elevation-z2'>
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Code</th>
        <td mat-cell *matCellDef="let items"> {{items.code}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</th>
            <td mat-cell *matCellDef="let items"> {{items.name}} </td>
        </ng-container>
    </table>
    <mat-paginator #paginator
                    [length]="dataTable.data.length"
                    [pageIndex]="0"
                    [pageSize]="25"
                    [pageSizeOptions]="[10, 25, 50, 100]">
    </mat-paginator>