<kusunoki2-accession-search-form
    (searchSubmitted)="receiveParams($event)"
    [hidden]="searchDone">
</kusunoki2-accession-search-form>

<div [hidden]="!searchDone">
    <mat-card>
        <mat-card-title>Accessions
                <!-- <div fxFlex></div>
                <mat-spinner diameter='30' *ngIf='operationInProgress'></mat-spinner>
                <button  mat-icon-button [matMenuTriggerFor]="moreMenu"><mat-icon>more_vert</mat-icon></button> -->
        </mat-card-title>
        <mat-card-subtitle>Total: {{table.dataSource.totalCount}} accessions found</mat-card-subtitle>
        <mat-card-content>
            <kusunoki2-accession-table #table
                [searchParams]="searchParams"
                (searchParamsChanged)="searchParamsChanged($event)">
            </kusunoki2-accession-table>
        </mat-card-content>
    </mat-card>
    <kusunoki2-accession-multi-marker-map
        [searchParams]="searchParams">
    </kusunoki2-accession-multi-marker-map>

</div>
<mat-menu #moreMenu="matMenu">
    <!-- <button *ngIf="(userToken|async).is_staff" mat-menu-item (click)="makeItemsPublic()">Make All public</button> -->
</mat-menu>