<form [formGroup]="form">
    <mat-form-field style='width: 100%;'>
        <mat-label i18n>Password</mat-label>
        <input matInput type='password' formControlName="password" minlength="5" required>
        <mat-error *ngIf="password.errors?.minlength && (form.touched || form.dirty)">
            <ng-container i18n>Passwords length must be bigger than 5</ng-container>
        </mat-error>
    </mat-form-field>
    <mat-form-field style='width: 100%;'>
        <mat-label i18n>Repeat Password</mat-label>
        <input matInput type='password' formControlName="password2" minlength="5" required>
        <!-- <mat-error *ngIf="password2.errors?.minlength && (form.touched || form.dirty)">
            Passwords length must be bigger than 5
        </mat-error> -->
        <mat-error *ngIf="form.errors?.passwordsEqual && (form.touched || form.dirty)">
            <ng-container i18n>Password must match</ng-container>
        </mat-error>
    </mat-form-field>
</form>