<form [formGroup]="form">
    <mat-form-field style='width: 100%;'>
        <mat-label> Password </mat-label>
        <input matInput type='password' formControlName="password" minlength="5" required>
        <mat-error *ngIf="password.errors?.minlength && (form.touched || form.dirty)">
            Passwords length must be bigger than 5
        </mat-error>
    </mat-form-field>
    <mat-form-field style='width: 100%;'>
        <mat-label> Repeat Password </mat-label>
        <input matInput type='password' formControlName="password2" minlength="5" required>
        <!-- <mat-error *ngIf="password2.errors?.minlength && (form.touched || form.dirty)">
            Passwords length must be bigger than 5
        </mat-error> -->
        <mat-error *ngIf="form.errors?.passwordsEqual && (form.touched || form.dirty)">
            Password must match
        </mat-error>
    </mat-form-field>
</form>