<h2 mat-dialog-title i18n>Change Password</h2>
<mat-form-field>
    <mat-placeholder i18n >Password</mat-placeholder>
    <input matInput [type]="hide1 ? 'password' : 'text'"
            [(ngModel)]='pass1'
            (ngModelChange)='checkPasswords()'
            appearance='warn' />
    <mat-icon matSuffix (click)="hide1 = !hide1">
           {{hide1 ? 'visibility' : 'visibility_off'}}
    </mat-icon>

</mat-form-field>
<mat-form-field>
    <mat-placeholder i18n>Repeat password</mat-placeholder>
    <input matInput [type]="hide2 ? 'password' : 'text'"
            [(ngModel)]='pass2'
            (ngModelChange)='checkPasswords()'
            appearance='warn' />
    <mat-icon matSuffix (click)="hide2 = !hide2">
           {{hide2 ? 'visibility' : 'visibility_off'}}
    </mat-icon>
</mat-form-field>

<mat-dialog-actions>
  <button mat-raised-button *ngIf="isPasswordOk" [mat-dialog-close]="pass1" i18n>Change</button>
</mat-dialog-actions>