<mat-toolbar color="primary" role="header">
    <!-- <button type="button" aria-label="Toggle sidenav"
        mat-icon-button (click)="toggleSidenav()">
        <mat-icon aria-label="Side nav toggle icon">{{menuIcon}}</mat-icon>
    </button> -->

    <button mat-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button fxShow fxHide.gt-sm mat-button [matMenuTriggerFor]="rootMenu">
        <mat-icon>search</mat-icon>
        <span>Menu</span>
    </button>

    <mat-menu #rootMenu="matMenu" fxLayout="row" yPosition="above">
        <a mat-menu-item [matMenuTriggerFor]="searchmenu">
            <mat-icon>search</mat-icon>
            Search
        </a>
        <a mat-menu-item [matMenuTriggerFor]="statsmenu">
            <mat-icon>show_chart</mat-icon>
            Stats
        </a>
        <a mat-menu-item [matMenuTriggerFor]="phenotypingMenu">
            <mat-icon>filter_vintage</mat-icon>
            Characterization
        </a>
        <a *ngIf="(userToken|async)?.isAuthenticated" mat-menu-item [matMenuTriggerFor]="addmenu">
            <mat-icon>show_chart</mat-icon>
            Add
        </a>
        <a *ngIf="(userToken|async)?.is_staff" mat-menu-item [matMenuTriggerFor]="adminmenu">
            <mat-icon>settings</mat-icon>
            admin
        </a>
        <a mat-menu-item [matMenuTriggerFor]="apimenu">
            <mat-icon>menu</mat-icon>
            API
        </a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="searchmenu" fxHide fxShow.gt-sm mat-button>
        <mat-icon>search</mat-icon>
        Search
    </button>
    <button mat-button [matMenuTriggerFor]="statsmenu" fxHide fxShow.gt-sm mat-button>
        <mat-icon>show_chart</mat-icon>
        Stats
    </button>
    <button *ngIf="(userToken|async)?.isAuthenticated"
            mat-button [matMenuTriggerFor]="addmenu" fxHide fxShow.gt-sm mat-button>
        <mat-icon>add</mat-icon>
        Add
    </button>
    <button *ngIf="(userToken|async)?.is_staff"
            mat-button [matMenuTriggerFor]="adminmenu" fxHide fxShow.gt-sm mat-button>
        <mat-icon>settings</mat-icon>
        Admin
    </button>
    <button mat-button [matMenuTriggerFor]="apimenu" fxHide fxShow.gt-sm mat-button>
        <mat-icon>menu</mat-icon>
        API
    </button>
    <span style="flex: 1 1 auto;"></span>
    <kusunoki2-user-menu></kusunoki2-user-menu>
</mat-toolbar>

<mat-menu #searchmenu="matMenu" yPosition="above">
    <a [routerLink]="['/', appUrls.accessions]" mat-menu-item>
        <!-- <mat-icon>chevron_right</mat-icon> -->
        <span>Accession</span>
    </a>
    <a [routerLink]="['/', appUrls.accessionsets]" mat-menu-item>
        <!-- <mat-icon>chevron_right</mat-icon> -->
        <span>AccessionSet</span>
    </a>
    <button mat-menu-item [matMenuTriggerFor]="phenotypingMenu">
        Characterization
    </button>
</mat-menu>

<mat-menu #statsmenu="matMenu" yPosition="above">
    <a [routerLink]="['/', appUrls.institutes]" mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <span>Institute</span>
    </a>
    <!-- <a [routerLink]="['/', appUrls.data_sources]" mat-menu-item >
        <span>Data Source</span>
    </a> -->
    <a [routerLink]="['/', appUrls.countries]" mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <span>Countries</span>
    </a>
    <a [routerLink]="'/' + appUrls.taxonomy_stats" mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <span>Taxa</span>
    </a>
    <!-- <a href='' mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Availability</span>
    </a> -->
</mat-menu>
<mat-menu #apimenu="matMenu" yPosition="above">
    <a [href]='apiUrl' mat-menu-item>
        <mat-icon>computer</mat-icon>
        <span>Browse</span>
    </a>
    <a [href]='apiDocs' mat-menu-item>
        <mat-icon>school</mat-icon>
        <span>Docs</span>
    </a>
</mat-menu>
<mat-menu #adminmenu="matMenu" >
    <a mat-menu-item  [routerLink]="['/', appUrls.users]">Users</a>
</mat-menu>
<mat-menu #phenotypingMenu="matMenu" >
    <a mat-menu-item  [routerLink]="['/', 'characterization', appUrls.phenotype.studies]">Studies</a>
    <a mat-menu-item  [routerLink]="['/', 'characterization', appUrls.phenotype.observations]">Observations</a>
</mat-menu>

<mat-menu #addmenu="matMenu" >

    <button mat-menu-item [matMenuTriggerFor]="addMenuPassport">Passport</button>
    <button mat-menu-item [matMenuTriggerFor]="addMenuPhenotype">Characterization</button>
</mat-menu>

<mat-menu #addMenuPassport="matMenu" >
    <a *ngIf="(userToken|async)?.is_staff" mat-menu-item [routerLink]="['/', appUrls.institutes, 'create']">Institute</a>
    <a mat-menu-item [routerLink]="['/', appUrls.accessions, 'create']">Accession</a>
    <button mat-menu-item [matMenuTriggerFor]="addBulkMenuPassport">Bulk Uploads</button>
</mat-menu>


<mat-menu #addBulkMenuPassport="matMenu">
    <button *ngIf="(userToken|async)?.is_staff" mat-menu-item  [routerLink]="['/', appUrls.institutes, 'bulk_create']">Institutes</button>
    <button mat-menu-item  [routerLink]="['/', appUrls.accessions, 'bulk_create']">Accessions</button>
    <button mat-menu-item  [routerLink]="['/', appUrls.accessionsets, 'bulk_create']">Accessionsets</button>
    <!-- <button mat-menu-item [matMenuTriggerFor]="addbulkPhenotypeMenu">Characterization</button> -->
</mat-menu>

<mat-menu #addMenuPhenotype="matMenu">
    <a mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.studies, 'create']">Study</a>
    <a mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.observation_variables, 'create']">Trait methodologies</a>
    <button mat-menu-item [matMenuTriggerFor]="addBulkMenuPhenotype">Bulk Upoads</button>
</mat-menu>
<mat-menu #addBulkMenuPhenotype="matMenu">
    <button mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.studies, 'bulk_create']">Studies</button>
    <button mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.traits, 'bulk_create']">Traits</button>
    <button mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.observations, 'bulk_create']">Observations</button>
    <button mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.observation_images, 'bulk_create']">Observation images</button>

</mat-menu>
