<!-- <mat-toolbar role="heading">Primary</mat-toolbar> -->
<mat-toolbar color="primary" role="heading" >

    <div fxLayout="row" fxLayoutAlign="center start" fxFlex fxFlex.md="1 1 0%">
        <div fxFlex></div>
        <div fxFlex="1 1 {{centralColumnSize}}" fxFlex.lt-lg="grow">
            <!-- <button type="button" aria-label="Toggle sidenav"
                mat-icon-button (click)="toggleSidenav()">
                <mat-icon aria-label="Side nav toggle icon">{{menuIcon}}</mat-icon>
            </button> -->
            <button mat-button [routerLink]="['/']" >
                <mat-icon >home</mat-icon>
                <ng-container i18n>Home</ng-container>
            </button>
            <button fxShow fxHide.gt-xs mat-button [matMenuTriggerFor]="rootMenu">
                <mat-icon>search</mat-icon>
                <ng-container i18n>Menu</ng-container>
            </button>
            <button mat-button [matMenuTriggerFor]="searchmenu" fxHide fxShow.gt-xs>
                <mat-icon>search</mat-icon>
                <ng-container i18n>Search</ng-container>
            </button>
            <button mat-button [matMenuTriggerFor]="statsmenu" fxHide fxShow.gt-xs>
                <mat-icon>show_chart</mat-icon>
                <ng-container i18n>Stats</ng-container>

            </button>
            <button *ngIf="(userToken|async)?.isAuthenticated"
                    mat-button [matMenuTriggerFor]="addmenu" fxHide fxShow.gt-xs mat-button>
                <mat-icon>add</mat-icon>
                <ng-container i18n>Add</ng-container>
            </button>
            <button *ngIf="(userToken|async)?.is_staff"
                    mat-button [matMenuTriggerFor]="adminmenu" fxHide fxShow.gt-xs mat-button>
                <mat-icon>settings</mat-icon>
                <ng-container i18n>Admin</ng-container>
            </button>
            <button mat-button [matMenuTriggerFor]="apimenu" fxHide fxShow.gt-xs mat-button>
                <mat-icon>menu</mat-icon>
                API
            </button>
            <span fxFlex='1 1 auto'></span>

            <button mat-button (click)="switchLanguage()" *ngIf="alternativeLanguages">
                <span *ngIf="language === 'en'">Castellano</span>
                <span *ngIf="language === 'es'">English</span>
            </button>
            <kusunoki2-user-menu></kusunoki2-user-menu>
        </div>
        <div fxFlex></div>
    </div>
    <mat-menu #rootMenu="matMenu" fxLayout="row" yPosition="above">
        <a mat-menu-item [matMenuTriggerFor]="searchmenu">
            <mat-icon>search</mat-icon>
            <ng-container i18n>Search</ng-container>
        </a>
        <a mat-menu-item [matMenuTriggerFor]="statsmenu">
            <mat-icon>show_chart</mat-icon>
            <ng-container i18n>Stats</ng-container>
        </a>
        <a mat-menu-item [matMenuTriggerFor]="phenotypingMenu">
            <mat-icon>filter_vintage</mat-icon>
            <ng-container i18n>Characterization</ng-container>

        </a>
        <a *ngIf="(userToken|async)?.isAuthenticated" mat-menu-item [matMenuTriggerFor]="addmenu">
            <mat-icon>show_chart</mat-icon>
            <ng-container i18n>Add</ng-container>
        </a>
        <a *ngIf="(userToken|async)?.isAuthenticated" mat-menu-item [matMenuTriggerFor]="adminmenu">
            <mat-icon>settings</mat-icon>
            <ng-container i18n>Admin</ng-container>
        </a>
        <a mat-menu-item [matMenuTriggerFor]="apimenu">
            <mat-icon>menu</mat-icon>
            API
        </a>
    </mat-menu>

</mat-toolbar>

<mat-menu #searchmenu="matMenu" yPosition="above">
    <a [routerLink]="['/', appUrls.accessions]" mat-menu-item>
        <!-- <mat-icon>chevron_right</mat-icon> -->
        <ng-container i18n>Accession</ng-container>
    </a>
    <a [routerLink]="['/', appUrls.accessionsets]" mat-menu-item *ngIf='appConfig.useAccessionset'>
        <!-- <mat-icon>chevron_right</mat-icon> -->
        <ng-container i18n>AccessionSet</ng-container>
    </a>
    <button mat-menu-item [matMenuTriggerFor]="phenotypingMenu">
        <ng-container i18n>Characterization</ng-container>
    </button>
</mat-menu>

<mat-menu #statsmenu="matMenu" yPosition="above">
    <a [routerLink]="['/', appUrls.institutes]" mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <ng-container i18n>Institute</ng-container>
    </a>
    <!-- <a [routerLink]="['/', appUrls.data_sources]" mat-menu-item >
        <span>Data Source</span>
    </a> -->
    <a [routerLink]="['/', appUrls.countries]" mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <ng-container i18n>Countries</ng-container>
    </a>
    <a [routerLink]="'/' + appUrls.taxonomy_stats" mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <ng-container i18n>Taxa</ng-container>
    </a>
    <!-- <a href='' mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Availability</span>
    </a> -->
</mat-menu>
<mat-menu #apimenu="matMenu" yPosition="above">
    <a [href]='apiUrl' mat-menu-item  target='_blank'>
        <mat-icon>computer</mat-icon>
        <span i18n>Browse</span>
    </a>
    <a [href]='apiDocs' mat-menu-item  target='_blank'>
        <mat-icon>school</mat-icon>
        <span i18n>Docs</span>
    </a>
</mat-menu>
<mat-menu #adminmenu="matMenu" >
    <a mat-menu-item [routerLink]="['/', appUrls.tasks]"> <ng-container i18n>Tasks</ng-container> </a>
    <a mat-menu-item *ngIf="(userToken|async)?.is_staff" [routerLink]="['/', appUrls.users]"><ng-container i18n>Users</ng-container></a>
</mat-menu>
<mat-menu #phenotypingMenu="matMenu" >
    <a mat-menu-item  [routerLink]="['/', 'characterization', appUrls.phenotype.studies]"><ng-container i18n>Studies</ng-container></a>
    <a mat-menu-item  [routerLink]="['/', 'characterization', appUrls.phenotype.observations]"><ng-container i18n>Observations</ng-container></a>
    <a mat-menu-item  [routerLink]="['/', 'characterization', appUrls.phenotype.observation_variables]"><ng-container i18n>Trait methodology</ng-container></a>
</mat-menu>

<mat-menu #addmenu="matMenu" >
    <button *ngIf="(userToken|async)?.is_staff" mat-menu-item [matMenuTriggerFor]="addMenuInstitute"><ng-container i18n>Institute</ng-container></button>
    <button mat-menu-item [matMenuTriggerFor]="addMenuAccession"><ng-container i18n>Accession</ng-container></button>
    <button mat-menu-item [matMenuTriggerFor]="addMenuAccessionSet" *ngIf='appConfig.useAccessionset'><ng-container i18n>AccessionSet</ng-container></button>
    <button mat-menu-item [matMenuTriggerFor]="addMenuPhenotype"><ng-container i18n>Characterization</ng-container></button>
</mat-menu>

<mat-menu #addMenuInstitute="matMenu" >
    <a  mat-menu-item [routerLink]="['/', appUrls.institutes, 'create']"><ng-container i18n>Add one</ng-container></a>
    <a mat-menu-item  [routerLink]="['/', appUrls.institutes, 'bulk_create']"><ng-container i18n>Bulk create...</ng-container></a>
</mat-menu>

<mat-menu #addMenuAccession="matMenu" >
    <a mat-menu-item [routerLink]="['/', appUrls.accessions, 'create']"><ng-container i18n>Add one</ng-container></a>
    <button mat-menu-item  [routerLink]="['/', appUrls.accessions, 'bulk_create']"><ng-container i18n>Bulk create...</ng-container></button>
</mat-menu>

<mat-menu #addMenuAccessionSet="matMenu">
    <a mat-menu-item  [routerLink]="['/', appUrls.accessionsets, 'bulk_create']" *ngIf='appConfig.useAccessionset'><ng-container i18n>Bulk create...</ng-container></a>
</mat-menu>

<mat-menu #addMenuPhenotype="matMenu">
    <a mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.studies, 'create']"><ng-container i18n>Study</ng-container></a>
    <a mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.observation_variables, 'create']"><ng-container i18n>Trait methodologies</ng-container></a>
    <button mat-menu-item [matMenuTriggerFor]="addBulkMenuPhenotype"><ng-container i18n>Bulk Upoads</ng-container></button>
</mat-menu>
<mat-menu #addBulkMenuPhenotype="matMenu">
    <button mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.studies, 'bulk_create']"><ng-container i18n>Studies</ng-container></button>
    <button mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.traits, 'bulk_create']"><ng-container i18n>Traits</ng-container></button>
    <button mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.observations, 'bulk_create']"><ng-container i18n>Observations</ng-container></button>
    <button mat-menu-item  [routerLink]="['/', appUrls.phenotypeSubDir, appUrls.phenotype.observation_images, 'bulk_create']"><ng-container i18n>Observation images</ng-container></button>
</mat-menu>
