<kusunoki2-accessionset-search-form
    (searchSubmitted)="receiveParams($event)"
    [hidden]="searchDone">
</kusunoki2-accessionset-search-form>

<div [hidden]="!searchDone">
    <mat-card>
        <mat-card-title>Accessionsets
                <!-- <div fxFlex></div>
                <mat-spinner diameter='30' *ngIf='operationInProgress'></mat-spinner>
                <button  mat-icon-button [matMenuTriggerFor]="moreMenu"><mat-icon>more_vert</mat-icon></button> -->
        </mat-card-title>
        <mat-card-subtitle>Total: {{table.dataSource.totalCount}} accession sets found</mat-card-subtitle>
        <mat-card-content>
            <kusunoki2-accessionset-table #table
                [hidden]="!table.dataSource.totalCount"
                [searchParams]="searchParams"
                (searchParamsChanged)="searchParamsChanged($event)">
            </kusunoki2-accessionset-table>
        </mat-card-content>
    </mat-card>
    <kusunoki2-accessionset-multi-marker-map
        [searchParams]="searchParams">
    </kusunoki2-accessionset-multi-marker-map>

</div>
<mat-menu #moreMenu="matMenu">
    <!-- <button *ngIf="(userToken|async).is_staff" mat-menu-item (click)="makeItemsPublic()">Make All public</button> -->
</mat-menu>